<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        


 
















    
     
</head>
<body>
    <header class="header">
        <a href="#" class="logo">FoodWard</a>

       <!------ gere la parti droite du logo------>
        <nav class="navbar">
            <a href="#" class="active">Home</a>
            <a href="#">About</a>
            <a href="#">Menu</a>
            <a href="#">Pages</a>
            <a href="#">contact</a>
        </nav>
        <!------ fin------>
    </header>
    <!------ coter ecriture------>
    <section class="home">
        <div class="home-content">
            <h1>saveur, impériale</h1>
            <h3>Bonne dégustation</h3>
            
            <p><strong><i>Bienvenue chez Foodward, où l’art culinaire rencontre Restauration de luxe. Offrez-vous une expérience gastronomique inoubliable Fabriqué par nos chefs de classe mondiale.</i></strong></p>
            <div class="btn-box">
                <a href="#" >Reserver</a>
                <a href="#" >Explore Menu</a>
            </div>
         
    </section>
 </div>  
</body>
</html>